body{
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: normal;
  font-family: "PTSans", "Arial", sans-serif;
  background-color: #f2f2f2;
}

h2{
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: "PTSans", "Arial", sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.main-header{
  position: relative;;
}

.container{
  width: 1200px;
  /*padding: 0 10px;*/
  margin: 0 auto;
  background-color: #8be994;
}

.index-logo{
  width: 138px;
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.main-navigation{
  min-height: 56px;
  padding:0 6%;
}

.to-left{
  float: left;
  width: 240px;
  text-align: left;
}

.to-right{
  float: right;
  width: 240px;
  text-align: right;
}

.main-img{
  padding-top: 77px;
  padding-bottom: 80px;
  text-align: center;
  background: url("../img/bg-mask.png") 0 100% no-repeat, url("../img/bg-index.jpg") 0 22% no-repeat #986a73;
}

.main-img img{
  max-width: 100%;
  height: auto;
}

.description{
  padding-top: 61px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #d98ce0;
}

.reasons-image{
  float: left;
  width: 408px;
  text-align: center;
  background-color: #81b3d2;
}

.reasons-image .reasons-header{
  font-size:21px;
  margin-top: 57px;
  margin-left: 135px;
  margin-right: 135px;
  color: #ffffff;
}

.reasons-image .reasons-num{
  margin-top: 7px;
  color: #ffffff;
}

.reasons-image p{
  margin-top: 7px;
  /*margin-left: 100px;
  margin-right: 100px;*/
  margin-bottom: 57px;
  color: #ffffff;
}

.reasons .reasons-header{
  font-size:21px;
  margin-left: 135px;
  margin-right: 135px;
}

.reasons .reasons-header{
  font-size:21px;
  margin-left: 135px;
  margin-right: 135px;
}

.reasons .reasons-num{
  margin-top: 7px;
}

.reasons p{
  margin-top: 7px;
  margin-left: 58px;
  margin-right: 58px;
  margin-bottom: 57px;
}

.without-num p{
  margin-top: 7px;
  margin-left: 58px;
  margin-right: 58px;
  margin-bottom: 88px;
}

.city-photos{
  width: 792px;
  float: left;
}

.city-photos img{
  max-width: 100%;
  height: auto;
}

.reasons-text{
  font-size: 0;
}

.reasons{
  display: inline-block;
  font-size: 14px;
  width: 400px;
  vertical-align: top;
  text-align: center;
  background-color: #eeeeee;
}

.search{
  position: relative;
  text-align: center;
  background-color: #edcaf6;
}

.search-form{
  width: 568px;
  position:absolute;
  left: 50%;
  margin-left: -284px;
  /*display: none;*/
}

.map img{
  width: 100%;
  height: auto;
}

.main-footer{
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #eeec4e;
}

.footer-tag{
  float: left;
  width: 400px;
  text-align: center;
}

.footer-social{
  float:left;
  width: 400px;
  text-align: center;
}

.footer-copyright{
  float:left;
  width: 400px;
  text-align: center;
}

.social-btn{
  display: inline-block;
  font-size: 0;
  width: 46px;
  height: 48px;
  margin: 0 6px;
  vertical-align: top;
  text-decoration: none;
  background-color: #81b3d2;
  background-position: center;
}

.inner-container{
  width: 1054px;
  margin: 0 auto;
  background-color: #acf6f3;
}

.filter{
  padding-top: 10px;
  background-color: #685956;
  background-image: url("")
}

.filter form{

}

.filter-item{
  width: 241px;
  float:left;
  background-color: #e493f5;
}

.filter-item div{
  margin-bottom: 9px;
}

.prices{
  width: 328px;
  float: right;
  background-color: #e493f5;
}
