body{
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
  font-family: "PTSans", "Arial", sans-serif;
  background-color: #f2f2f2;
}

h2{
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: "PTSans", "Arial", sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.main-header{
  position: relative;;
}

.container{
  width: 1200px;
  /*padding: 0 10px;*/
  margin: 0 auto;
  background-color: #8be994;
}

.index-logo{
  width: 138px;
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.main-navigation{
  min-height: 56px;
  padding:0 6%;
}

.to-left{
  float: left;
  width: 240px;
  text-align: left;
}

.to-right{
  float: right;
  width: 240px;
  text-align: right;
}

.main-img{
  padding-top: 77px;
  padding-bottom: 80px;
  text-align: center;
  background: #b18069 url("../img/bg-index.jpg") no-repeat;
  /*background: url("../img/bg-mask.jpg");*/
}

.main-img img{
  max-width: 458px;
  height: auto;
}

.description{
  padding-top: 61px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #d98ce0;
}

.reasons-image:nth-child(1){
  float: left;
  width: 34%;
  padding-top: 57px;
  text-align: center;
  background-color: #81b3d2;
}

.reasons-image .reasons-header{
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 30px;
  color: #ffffff;
}

.reasons-image .reasons-num{
  margin-bottom: 30px;
  color: #ffffff;
}

.reasons-image p{
  margin-right: 60px;
  margin-left: 60px;
  color: #ffffff;
}

.city-photos:nth-child(1){
  width: 66%;
  float: right;
}


.city-photos:nth-child(2){
  width: 66%;
  float: left;
}

.reasons-image:nth-child(2){
  float: right;
  width: 34%;
  padding-top: 57px;
  padding-bottom: 57px;
  text-align: center;
  background-color: #81b3d2;
}

.city-photos img{
  max-width: 800px;
  height: auto;
}

.reasons-text{
  font-size: 0;
}

.feature-item{
  display: inline-block;
  font-size: 14px;
  width: 400px;
  vertical-align: top;
  text-align: center;
  background-color: #ffffff;
}

.reasons{
  display: inline-block;
  font-size: 14px;
  width: 400px;
  vertical-align: top;
  text-align: center;
  background-color: #eeeeee;
}

.search{
  position: relative;
  text-align: center;
  background-color: #edcaf6;
}

.search-form{
  width: 568px;
  position:absolute;
  left: 50%;
  margin-left: -284px;
  /*display: none;*/
}

.map img{
  width: 100%;
  height: auto;
}

.main-footer{
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #eeec4e;
}

.footer-tag{
  float: left;
  width: 400px;
  text-align: center;
}

.footer-social{
  float:left;
  width: 400px;
  text-align: center;
}

.footer-copyright{
  float:left;
  width: 400px;
  text-align: center;
}

.social-btn{
  display: inline-block;
  font-size: 0;
  width: 46px;
  height: 48px;
  margin: 0 6px;
  vertical-align: top;
  text-decoration: none;
  background-color: #81b3d2;
  background-position: center;
}
